.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    margin-top: 150px;
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
    font-family: outfit;
}
.offers-left p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    font-family: outfit;
    
}
.offers-left button{
    width: 280px;
    height: 70px;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: outfit;
    margin-top: 30px;
    background: #ff4141;
    cursor: pointer;

}
.offers-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top:190px ;
}